### This file is used to retrieve weather data along with NEE from the ameriFLUX maize-soybean datasets

In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity, euclidean_distances
from scipy.stats import pearsonr
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
import os
import warnings
from sklearn import preprocessing
import scipy.stats
warnings.filterwarnings('ignore')

In [2]:
# loads all data sets into a dict
def load_datasets(dirs: list, load_path: str) -> dict:
    files = ['soil_c','surf_water','flux_soc','soil_water','n_flux','p_flux','temp', 
         'plant_c','plant_n','plant_p','canopcy_c','plant_stress','photosynthesis','plant_growth']
    
    #files.append('soil_temp', 'canopy_temp') missing 
    datasets = {}
    
    for dr in dirs:
        csv_list = []
        path = '../datasets/' + dr +  '/' + load_path
        for f in files:
            df = pd.read_csv(os.path.join(path,f + '.csv'))
            df.drop(df.columns[0], axis=1)

            csv_list.append(df)


        data_dict = {}
        for i in range (len(csv_list)):
            data_dict[files[i]] = csv_list[i]

        datasets[dr] = data_dict

    return datasets

dirs = ['warm_temp_maize_soybean_irrigated', 'warm_temp_maize-soybean_dryland', 'cool_temp_maize_soybean']

datasets = load_datasets(dirs, 'csv_outs/with_plant_soil_details/')

In [3]:
def rename_dupes(suffix: str, df: pd.DataFrame, dupes: list) -> pd.DataFrame:
    for col in df.columns:
        if col in dupes:
            df.rename(columns={col: col + suffix}, inplace=True)
    return df

def average_numbered_columns(df):
    numbered_cols = [col for col in df.columns if '_' in col and col.split('_')[-1].isdigit()]

    col_groups = {}
    for col in numbered_cols:
        prefix = '_'.join(col.split('_')[:-1])
        if prefix not in col_groups:
            col_groups[prefix] = []
        col_groups[prefix].append(col)

    # calculate averages and add new columns
    for prefix, cols in col_groups.items():
        avg_col_name = prefix
        avg_col_values = df[cols].mean(axis=1)
        df[avg_col_name] = avg_col_values

    # drop numbered columns
    df = df.drop(columns=numbered_cols)

    return df

# turn all csv's to one dataframe
def to_pd(df: dict, handle_dupes: bool, flatten_num_cols: bool) -> pd.DataFrame:
    x = pd.DataFrame()
    for file_name in df:
        cur = df[file_name]
            
        x = pd.concat([x, df[file_name]], axis = 1)
        
    cheeky_col = 'unnamed.1'
    cheeky_col2 = 'Unnamed: 0'
    if cheeky_col in x.columns:
        x = x.drop([cheeky_col], axis=1)
    elif cheeky_col2 in x.columns:
         x = x.drop([cheeky_col2], axis=1)
    x = x.drop(['DATE'], axis=1)

    if flatten_num_cols:
        x = average_numbered_columns(x)
        
    x = x.loc[:,~x.columns.duplicated()].copy()
    
    one_hot = pd.get_dummies(x['GROWTH_STG'])
    x= x.drop('GROWTH_STG',axis = 1)
    # Join the encoded df
    x = x.join(one_hot)

    x.columns = x.columns.str.translate("".maketrans({"[":"{", "]":"}","<":"^"}))
    
    return x

df_dry = to_pd(datasets['warm_temp_maize-soybean_dryland'], True, True)
df_irr = to_pd(datasets['warm_temp_maize_soybean_irrigated'], True, True)
df_cool = to_pd(datasets['cool_temp_maize_soybean'], True, True)

# NEE = GPP - ER:
#GPP = GROSS PRIMARY PRODUCTION (TOTAL C INTAKE) 
#ER = total C uptake =  ECO_RH + ECO_RA =  autotrophic + heterotrophic respiration 
#NPP = GPP + ECO_RA
df_dry['NEE'] = df_dry['ECO_NPP'] - df_dry['ECO_RH']
df_irr['NEE'] = df_irr['ECO_NPP'] - df_irr['ECO_RH']
df_cool['NEE'] = df_cool['ECO_NPP'] - df_cool['ECO_RH']
nee = df_irr['NEE']
#y = df[target].copy()
#df = df.drop(target, axis=1)

#### Daily ameriflux data for site US-Ne1

In [4]:
df = pd.read_csv('../datasets/AMF_US-Ne1_FLUXNET_FULLSET_DD_2001-2020_3-5.csv')

mask = (df['TIMESTAMP'] >= 20150101) & (df['TIMESTAMP'] <= 20221231)

df = df.loc[mask].reset_index()

avg_w_ins = ['DOY', 'RADN', 'TMAX_AIR', 'TMIN_AIR',  'WIND',
       'D_W_PRECN','TMAX_SOIL', 'TMIN_SOIL', 'HMAX_AIR', 'HMIN_AIR']
df_irr = df_irr[avg_w_ins][:2192].reset_index()
nee = nee[:2192]
df_irr.describe()

filter_col = [col for col in df if col.startswith('NEE') and not col.endswith('QC')]    
nee_df = df[filter_col]
df['DOY'] = df_irr['DOY'].values
#df.drop('Index', axis=1)

In [5]:
df

,index,TIMESTAMP,TA_F_MDS,TA_F_MDS_QC,TA_F_MDS_NIGHT,TA_F_MDS_NIGHT_SD,TA_F_MDS_NIGHT_QC,TA_F_MDS_DAY,TA_F_MDS_DAY_SD,TA_F_MDS_DAY_QC,...,GPP_DT_CUT_05,GPP_DT_CUT_16,GPP_DT_CUT_25,GPP_DT_CUT_50,GPP_DT_CUT_75,GPP_DT_CUT_84,GPP_DT_CUT_95,RECO_SR,RECO_SR_N,DOY
0,5113,20150101,-6.186,1.0,-8.401,4.193,1.0,-3.569,4.593,1.0,...,0.0,0.0,0.0,0.049122,0.083675,0.109576,0.158684,-9999,-9999,0.520833
1,5114,20150102,-5.299,1.0,-6.448,3.612,1.0,-3.942,3.916,1.0,...,0.0,0.0,0.0,0.048022,0.085488,0.109471,0.158226,-9999,-9999,1.520833
2,5115,20150103,-6.735,1.0,-9.256,3.025,1.0,-3.755,3.388,1.0,...,0.0,0.0,0.0,0.050269,0.099941,0.115981,0.126642,-9999,-9999,2.520833
3,5116,20150104,-15.570,1.0,-15.528,1.277,1.0,-15.621,2.236,1.0,...,0.0,0.0,0.0,0.076318,0.101338,0.145445,0.151241,-9999,-9999,3.520833
4,5117,20150105,-10.930,1.0,-10.808,3.707,1.0,-11.075,1.424,1.0,...,0.0,0.0,0.0,0.051239,0.075203,0.121472,0.142535,-9999,-9999,4.520833
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2187,7300,20201227,-0.632,1.0,-1.684,1.191,1.0,0.840,1.678,1.0,...,0.0,0.0,0.0,0.000000,0.073314,0.111657,0.183398,-9999,-9999,361.520833
2188,7301,20201228,-3.868,1.0,-4.424,0.806,1.0,-3.090,1.698,1.0,...,0.0,0.0,0.0,0.000000,0.086679,0.140294,0.194673,-9999,-9999,362.520833
2189,7302,20201229,-3.761,1.0,-3.686,1.255,1.0,-3.867,1.208,1.0,...,0.0,0.0,0.0,0.000000,0.075985,0.116731,0.179941,-9999,-9999,363.520833
2190,7303,20201230,-6.133,1.0,-6.860,4.752,1.0,-5.274,1.445,1.0,...,0.0,0.0,0.0,0.000000,0.130820,0.152289,0.198430,-9999,-9999,364.520833
2191,7304,20201231,-8.544,1.0,-10.908,4.765,1.0,-5.750,4.936,1.0,...,0.0,0.0,0.0,0.000000,0.127448,0.157322,0.219827,-9999,-9999,365.520833

### Introduce two measurements Jensen Shannon distance, and  pearson's correlation coefficient distance to find the most similar observed NEE 
#### Linear and non-linear

In [11]:
def jensen_shannon_distance(p, q):
    """
    method to compute the Jenson-Shannon Distance 
    between two probability distributions
    """

    # convert the vectors into numpy arrays in case that they aren't
    p = np.array(p)
    q = np.array(q)

    # calculate m
    m = (p + q) / 2

    # compute Jensen Shannon Divergence
    divergence = (scipy.stats.entropy(p, m) + scipy.stats.entropy(q, m)) / 2

    # compute the Jensen Shannon Distance
    distance = np.sqrt(divergence)

    return distance


def pearson(p,q):
    return np.corrcoef(p, q)

### jensen shannon distance, Pearson corr, cosine similarity and K means
#### Used to find the most similar probability distributions between the variations of weather data from observed, and ecosys

In [12]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import silhouette_score

def get_most_similar(y, df, normalized: False) -> dict:
    scores = {}
    smallest_residual  = 99999
    biggest_corr = -9999
    col_corr = ''
    col_res = ''
    
    y_norm = pd.Series(preprocessing.normalize([y])[0], name='NEE')

    for col in df:
        if normalized:
            y = y_norm
            df[col] = preprocessing.normalize([df[col]])[0]
            
        sim = jensen_shannon_distance(y, df[col])
        corr_coef = pearson(y, df[col]).mean()
        
        if sim  < smallest_residual:
            smallest_residual = sim
            col_res = col
            
        if corr_coef > biggest_corr:
            col_corr = col
            biggest_corr = corr_coef
            
    scores["JSD"] = {col_res: smallest_residual}
    scores["PRSN"] = {col_corr: biggest_corr}
    scores["Cosine similarity"] = cosine_sim(df, y)
    scores["K-Means"] = find_kmeans(df, y)
    
    return scores


def cosine_sim(X, y):
    similarities = {}
    y_reshaped = y.values.reshape(1, -1)  # Reshape y
    for col in X.columns:
        col_reshaped = X[col].values.reshape(1, -1)  # Reshape column
        similarity = cosine_similarity(col_reshaped, y_reshaped)
        similarities[col] = similarity[0][0]
    most_similar_col = max(similarities, key=similarities.get)
    most_similar_col_score = similarities[most_similar_col]
    return {most_similar_col: most_similar_col_score}

def find_kmeans(X, y):
    kmeans = KMeans(n_clusters=6, random_state=0).fit(X.T)
    y_cluster = kmeans.predict(y.values.reshape(1, -1))
    most_similar_col_idx = np.where(kmeans.labels_ == y_cluster)[0][0]
    return X.columns[most_similar_col_idx]

In [10]:
ext = pd.read_csv('../datasets/extractedUSNEE_CUT_05_NIGHT.csv')

In [11]:
ext.describe()

,Unnamed: 0,TMIN_AIR,TMAX_SOIL,TMAX_AIR,RADN,WIND,D_W_PRECN,TMIN_SOIL,NEE
count,2192.000000,2192.000000,2192.000000,2192.000000,2192.000000,2192.000000,2192.000000,2192.000000,2192.000000
mean,6208.500000,2.536832,12.038186,12.508763,178.459320,2.985406,2.618802,-9268.723397,2.945288
std,632.920216,1.480891,8.446921,11.586313,94.545238,1.100184,6.626027,2603.085535,3.265968
min,5113.000000,0.052000,-0.935000,-21.228000,6.200000,0.779000,0.000000,-9999.000000,-9.409830
25%,5660.750000,1.405750,3.415500,3.598000,103.761500,2.182250,0.000000,-9999.000000,0.601852
50%,6208.500000,2.220000,11.945500,13.953000,169.787500,2.822000,0.046000,-9999.000000,1.362580
75%,6756.250000,3.399500,20.584500,22.664500,258.478500,3.625250,1.425000,-9999.000000,5.305025
max,7304.000000,9.359000,26.569000,32.267000,374.446000,7.464000,84.902000,16.813000,14.375300

In [12]:
avg_w_ins = ['DOY', 'RADN', 'TMAX_AIR', 'TMIN_AIR',  'WIND',
       'D_W_PRECN','TMAX_SOIL', 'TMIN_SOIL', 'HMAX_AIR', 'HMIN_AIR']
df_irr = df_irr[avg_w_ins][:2192]
nee = nee[:2192]
df_irr.describe()

filter_col = [col for col in df if col.startswith('NEE') and not col.endswith('QC')]    
nee_df = df[filter_col]

### Avg wind M s^-1 is 300 in simulated data, so reducing it by 100 factor

In [13]:
df_irr['WIND'] = df_irr['WIND']/ 100

In [14]:
df_irr['WIND']

0       3.31524
1       2.47068
2       2.45952
3       3.76056
4       3.67992
         ...
2187    1.48104
2188    2.03364
2189    4.27104
2190    2.22876
2191    2.22876
Name: WIND, Length: 2192, dtype: float64

In [15]:
similarities_to_find = ['RADN', 'TMAX_AIR', 'TMIN_AIR',  'WIND',
       'D_W_PRECN','TMAX_SOIL', 'TMIN_SOIL']

for col in similarities_to_find:
    print("Similarity for " + col + ":") 
    print(get_most_similar(df_irr[col], df, True))

Similarity for RADN:
{'JSD': {'SW_IN_POT': 0.1271263645923741}, 'PRSN': {'SW_IN_POT': 0.8901600167911246}, 'Cosine similarity': {'SW_IN_POT': 0.9580015543529974}, 'K-Means': 'TIMESTAMP'}
Similarity for TMAX_AIR:
{'JSD': {'': 99999}, 'PRSN': {'TS_F_MDS_4': 0.9162869304155195}, 'Cosine similarity': {'TS_F_MDS_7': 0.9343146027310274}, 'K-Means': 'TA_F_MDS'}
Similarity for TMIN_AIR:
{'JSD': {'': 99999}, 'PRSN': {'TS_F_MDS_4': 0.934054023616878}, 'Cosine similarity': {'TA_ERA_NIGHT': 0.8212129266913064}, 'K-Means': 'TA_F_MDS'}
Similarity for WIND:
{'JSD': {'SWC_F_MDS_3': 0.13224455944025232}, 'PRSN': {'NEE_CUT_05_DAY': 0.6557638726457695}, 'Cosine similarity': {'SWC_F_MDS_3': 0.9328949966289855}, 'K-Means': 'TIMESTAMP'}
Similarity for D_W_PRECN:
{'JSD': {'GPP_DT_CUT_SE': 0.6683177752443282}, 'PRSN': {'RECO_NT_VUT_95': 0.615246704251489}, 'Cosine similarity': {'RECO_NT_VUT_95': 0.37230943847804804}, 'K-Means': 'TA_F_MDS'}
Similarity for TMAX_SOIL:
{'JSD': {'SW_IN_POT': 0.14383686289778708}, 'PRSN': {'TS_F_MDS_7': 0.9595060678074991}, 'Cosine similarity': {'TS_F_MDS_7': 0.9705882369665542}, 'K-Means': 'TIMESTAMP'}
Similarity for TMIN_SOIL:
{'JSD': {'': 99999}, 'PRSN': {'TS_F_MDS_7': 0.956673725275045}, 'Cosine similarity': {'TS_F_MDS_7': 0.9718470882009842}, 'K-Means': 'TA_F_MDS'}

In [16]:
get_most_similar(nee, nee_df, True)

{'JSD': {'NEE_VUT_REF_NIGHT_SD': 0.45644863986414247},
 'PRSN': {'NEE_CUT_05_NIGHT': 0.584403137615753},
 'Cosine similarity': {'NEE_CUT_75_NIGHT': 0.5883954132109497},
 'K-Means': 'NEE_CUT_REF_NIGHT'}

In [18]:
pd.Series(preprocessing.normalize( [df['WS_F']])[0] , name = 'WS_F').describe()

count    2192.000000
mean        0.020042
std         0.007386
min         0.005230
25%         0.014650
50%         0.018945
75%         0.024337
max         0.050108
Name: WS_F, dtype: float64

In [19]:
pd.Series(preprocessing.normalize([df_irr['WIND']])[0], name = 'WIND').describe()

count    2192.000000
mean        0.019904
std         0.007750
min         0.006196
25%         0.014245
50%         0.018971
75%         0.024057
max         0.054372
Name: WIND, dtype: float64

In [60]:
pd.Series(preprocessing.normalize([df_irr['RADN']])[0], name = 'RADN').describe()

count    2192.000000
mean        0.019005
std         0.009749
min         0.001035
25%         0.010623
50%         0.018361
75%         0.027609
max         0.038372
Name: RADN, dtype: float64

In [63]:
pd.Series(preprocessing.normalize( [df['SW_IN_POT']])[0] , name = 'SW_IN_POT').describe()

count    2192.000000
mean        0.020055
std         0.007351
min         0.009167
25%         0.012728
50%         0.020556
75%         0.027351
max         0.029955
Name: SW_IN_POT, dtype: float64

In [46]:
pd.Series(preprocessing.normalize( [df['TA_F_MDS']])[0] , name = 'TA_F_MDS').describe()

count    2192.000000
mean        0.014861
std         0.015344
min        -0.031100
25%         0.002871
50%         0.016357
75%         0.028516
max         0.041679
Name: TA_F_MDS, dtype: float64

In [44]:
pd.Series(preprocessing.normalize( [df['TA_ERA_NIGHT']])[0] , name = 'TA_ERA_NIGHT').describe()

count    2192.000000
mean        0.014012
std         0.016124
min        -0.040863
25%         0.001357
50%         0.014550
75%         0.028438
max         0.044690
Name: TA_ERA_NIGHT, dtype: float64

In [48]:
pd.Series(preprocessing.normalize( [df_irr['TMIN_AIR']])[0] , name = 'TMIN_AIR').describe()

count    2192.000000
mean        0.008272
std         0.019696
min        -0.047031
25%        -0.006287
50%         0.008491
75%         0.025177
max         0.044637
Name: TMIN_AIR, dtype: float64

In [49]:
pd.Series(preprocessing.normalize( [df_irr['TMAX_AIR']])[0] , name = 'TMAX_AIR').describe()

count    2192.000000
mean        0.017337
std         0.012479
min        -0.017596
25%         0.007326
50%         0.018684
75%         0.028236
max         0.040682
Name: TMAX_AIR, dtype: float64

In [48]:
pd.Series(preprocessing.normalize( [df['TA_F_MDS']])[0] , name = 'TA_F_MDS').describe()

count    2192.000000
mean        0.014861
std         0.015344
min        -0.031100
25%         0.002871
50%         0.016357
75%         0.028516
max         0.041679
Name: TA_F_MDS, dtype: float64

In [7]:
extracted= {
'DOY' : df['DOY'],
'HMAX_AIR' :  df_irr['HMAX_AIR'], # dataset missing air humidity:/ 
'TMIN_AIR' : df['TA_ERA_NIGHT'], #TA_F_MDS also works
'TMAX_SOIL' : df['TS_F_MDS_7'] , #cosine and pearson agree
'HMIN_AIR' :  df_irr['HMIN_AIR'], #missing air humidity 
'TMAX_AIR' : df['TA_F_MDS'] ,
'RADN' : df['SW_IN_POT'],
'WIND' : df['WS_F'] ,
'D_W_PRECN' : df['P_F'], 
'TMIN_SOIL' : df_irr['TMIN_SOIL'], #observed data missing min soil temp
'NEE' : df['NEE_CUT_REF_NIGHT']
}

extracted_df = pd.DataFrame(extracted)

extracted_df.to_csv('../datasets/extractedNEE_CUT_REF_NIGHT.csv')

In [44]:
extracted_df

,DOY,HMAX_AIR,TMIN_AIR,TMAX_SOIL,HMIN_AIR,RADN,WIND,D_W_PRECN,TMIN_SOIL,NEE
0,NaN,0.630569,NaN,NaN,0.435766,NaN,NaN,NaN,3.167734,NaN
1,NaN,0.630147,NaN,NaN,0.349557,NaN,NaN,NaN,2.970467,NaN
2,NaN,0.796492,NaN,NaN,0.324438,NaN,NaN,NaN,2.820677,NaN
3,NaN,0.897199,NaN,NaN,0.501948,NaN,NaN,NaN,3.144463,NaN
4,NaN,0.702206,NaN,NaN,0.384053,NaN,NaN,NaN,3.087650,NaN
...,...,...,...,...,...,...,...,...,...,...
7300,361.520833,NaN,-2.049,1.892,NaN,150.527,3.471,0.939,NaN,0.924725
7301,362.520833,NaN,-4.516,1.782,NaN,150.916,1.893,0.001,NaN,0.646184
7302,363.520833,NaN,-3.835,1.678,NaN,151.365,3.063,15.407,NaN,0.609222
7303,364.520833,NaN,-8.046,1.588,NaN,151.874,2.707,0.000,NaN,0.371313
7304,365.520833,NaN,-10.771,1.528,NaN,152.441,2.360,0.000,NaN,4.587340

In [99]:
biggest_mean_for('TA', df)

'TA_F_MDS_DAY'

In [100]:
smallest_mean_for('TA', df)

'TA_F_DAY_QC'

In [14]:
filter_col = [col for col in df if col.startswith('TS') and not col.endswith('QC')]

In [15]:
filter_col

['TS_F_MDS_1',
 'TS_F_MDS_2',
 'TS_F_MDS_3',
 'TS_F_MDS_4',
 'TS_F_MDS_5',
 'TS_F_MDS_6',
 'TS_F_MDS_7',
 'TS_F_MDS_8']

In [12]:
smallest_mean_for('TS', df)

'TS_F_MDS_3_QC'

In [11]:
df[filter_col].mean()

TS_F_MDS_1       11.348499
TS_F_MDS_2       11.334961
TS_F_MDS_3       12.403337
TS_F_MDS_4       11.385723
TS_F_MDS_5       11.384166
TS_F_MDS_6             NaN
TS_F_MDS_7       11.445622
TS_F_MDS_8       11.366537
TS_F_MDS_1_QC     0.999620
TS_F_MDS_2_QC     0.999563
TS_F_MDS_3_QC     0.876141
TS_F_MDS_4_QC     0.999639
TS_F_MDS_5_QC     0.999391
TS_F_MDS_6_QC          NaN
TS_F_MDS_7_QC     0.984824
TS_F_MDS_8_QC     0.999468
dtype: float64